:root {
  --main-bg-color: #f6f3f7;
  --accent-color: red;
  --btn-color: #e3dae7;
  --borders-colors: gray;
  --swap-color: #334833;
  --sorted-color: #221825;
  --swap-failed-color: #7f3959;
  --default-tower-color: #4e3856;
  --lookedat-color: #c2c2c2;
  --comparision-tower-color: #5c5c5c;
  --top-bg-color: #ede7ef;
  --font-color: #ece7ee;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="range"] {
  background-color: transparent;
  accent-color: #221825;
  border: none;
  box-sizing: border-box;
}
button:hover {
  box-shadow: 0.1px 0.1px 2px 0.1px #c2c2c2;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
span {
  font-weight: 500;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "IBM Plex Sans", sans-serif;
}
.header {
  text-align: center;

  font-size: 3rem;
  padding-bottom: 0.3rem;
}
.btn-container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 0.5rem;
  background-color: var(--btn-color);
  border-radius: 0.6rem;
  border: none;
}
.navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}
.tower {
  width: 2rem;
  background-color: var(--default-tower-color);
  transition: 0.1s;
  border-radius: 4px 4px 4px 4px;
}
.towers-container {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 2px;
  transition: 0.1s;
}
.visualizer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.top-part {
  background-color: var(--top-bg-color);
  width: 100vw;
}

.generate-array-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.range-size {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.range-speed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .header {
    font-size: 1.8rem;
  }
  button {
    padding: 0.5rem;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .range-input {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="range"] {
    width: 6rem;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    font-size: 1.4rem;
  }
  button {
    padding: 0.5rem;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .range-input {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="range"] {
    width: 5rem;
  }
  .range-input {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .towers-container {
    /* max-height: 15rem; */
    /* position: relative; */
  }
}

@media only screen and (max-width: 690px) {
  .header {
    font-size: 1.4rem;
  }
  button {
    padding: 0.5rem;
    scale: 0.8;
  }
  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
  }
  .range-input {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="range"] {
    width: 4rem;
  }
}
